<div class="card p-0">
	<div class="dropdown flex-shrink-0 position-absolute top-0 end-0 p-3">
		<a href="#" class="btn btn-sm btn-light btn-icon mb-0" id="cardShareAction2" data-bs-toggle="dropdown" aria-expanded="false">
			<i class="bi bi-three-dots"></i>
		</a>
		<ul class="dropdown-menu dropdown-menu-end min-w-auto" aria-labelledby="cardShareAction2">
			<li>
				<a class="dropdown-item" href="#">
					<i class="bi bi-x-circle fa-fw pe-2"></i>
					masquer
				</a>
			</li>
			<li>
				<a class="dropdown-item" href="#">
					<i class="bi bi-slash-circle fa-fw pe-2"></i>
					bloquer
				</a>
			</li>
			<li>
				<a class="dropdown-item" href="#">
					<i class="bi bi-flag fa-fw pe-2"></i>
					signaler
				</a>
			</li>
		</ul>
	</div>

	<div class="card-body p-4">
		<div class="d-sm-flex">
			<div class="avatar avatar-xxl flex-shrink-0">
				{% if user.imageName %}
					<img class="avatar-img rounded-circle bg-white shadow border border-white border-3" src="{{ vich_uploader_asset(user) }}" alt="">
				{% else %}
					<img class="avatar-img rounded-circle bg-white shadow border border-white border-3" src="{{ asset('images/elements/simle.svg') }}" alt="">
				{% endif %}
			</div>

			<div class="ms-0 ms-sm-4 flex-grow-1 ">
				<h1 class="card-title mb-0 h4">
					{{ user.username }}
					<i class="bi bi-patch-check-fill text-info ms-2"></i>
				</h1>
				<p class="mb-0 mt-2 ">
					{{ user.bio|default('Aucune bio disponible pour le moment.') }}
				</p>


				<div class="d-md-flex justify-content-md-between mt-3">
					<div class="hstack gap-2 gap-xl-3">
						<div>
							<h6 class="mb-0">2.5K</h6>
							<small>abonnements</small>
						</div>
						<div class="vr"></div>
						<div>
							<h6 class="mb-0">365</h6>
							<small>abonnés</small>
						</div>
						<div class="vr"></div>
						<div>
							<h6 class="mb-0">256</h6>
							<small>Post</small>
						</div>
					</div>

					<div class="d-grid d-sm-flex flex-wrap gap-2 mt-3 mt-md-0">
						<button class="btn btn-success-soft mb-0" type="button">
							<i class="bi bi-person-plus-fill me-2"></i>
							Suivre
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="card-footer border-top pb-0">
		<ul class="nav nav-bottom-line nav-responsive align-items-center gap-2 mb-0 border-0">
			<li class="nav-item">
				<a class="nav-link" id="nav-link" href="{{ path('profile') }}">Profil</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="nav-link" href="{{ path('profile') }}">0 Posts</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="nav-link" href="{{ path('profile') }}">
					{{ user.topics|length }}
					Topics
				</a>
			</li>
		</ul>
	</div>
</div>
