<footer class="bg-dark py-5" data-bs-theme="dark">
	<div class="container">
		<div class="row g-4">
			<div class="col-lg-8">
				<div class="row g-4">
					<div class="col-6 col-sm-4">
						<h5 class="mb-2 mb-md-4 text-white">Nexus Forum</h5>
						<ul class="nav flex-column text-primary-hover">
							<li class="nav-item">
								<a class="nav-link" href="{{path("home")}}">À propos</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{path("home")}}">Contactez-nous</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{path("home")}}">Actualités et blogs</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{path("home")}}">F.A.Q</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{path("home")}}">Communauté</a>
							</li>
						</ul>
					</div>

					<div class="col-6 col-sm-4">
						<h5 class="mb-2 mb-md-4 text-white">La Faille</h5>
						<ul class="nav flex-column text-primary-hover">
							<li class="nav-item">
								<a class="nav-link" href="{{path("home")}}">Guides de Champions</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{path("home")}}">La Méta du Patch</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{path("home")}}">Lexique du Débutant</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{path("home")}}">Tier List</a>
							</li>
						</ul>
					</div>

					<div class="col-6 col-sm-4">
						<h5 class="mb-2 mb-md-4 text-white">Le Tribunal (Assistance & Règles)</h5>
						<ul class="nav flex-column text-primary-hover">
							<li class="nav-item">
								<a class="nav-link" href="{{path("home")}}">Code de l'Invocateur</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{path("home")}}">Signaler un Bug</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{path("home")}}">Statut des Serveurs</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{path("home")}}">Conditions d'utilisation</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{path("home")}}">Politique de confidentialité</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-4 ms-auto">
				<p class="text-primary-hover mt-4">
					Copyrights
					<a href="{{ path("home")}}" class="heading-color">©2026 Nexus Forum</a>. All rights reserved.
				</p>
			</div>
		</div>
	</div>
</footer>
