<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
		<title>
			{% block title %}
				Nexus Forum
			{% endblock %}
		</title>


		<meta name="description" content=""/>
		<meta name="keywords" content=""/>
		<meta name="author" content=""/>


		<link rel="icon" type="image/x-icon" href="{{asset( "favicons/favicon.ico")}}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{asset( "favicons/favicon-16x16.png")}}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{asset( "favicons/favicon-32x32.png")}}">
		<link rel="apple-touch-icon" sizes="180x180" href="{{asset( "favicons/apple-touch-icon.png")}}">
		<link rel="icon" type="image/png" sizes="192x192" href="{{asset( "favicons/android-chrome-192x192.png")}}">
		<link rel="icon" type="image/png" sizes="512x512" href="{{asset( "favicons/android-chrome-512x512.png")}}">
		<meta name="theme-color" content="#ffffff">


		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>

		{% include "_header.html.twig" %}

		<main>
			{% block body %}{% endblock %}
		</main>

		{% include "_footer.html.twig" %}

	</body>
</html>
